@model CurrentUserVM

    @if (Model != null)
    {
        <button type="button" class="btn btn-info btn-xs" style="float: left;"><span class="glyphicon glyphicon-pencil"></span></button>
        <button type="button" class="btn btn-danger btn-xs" style="float: left;"><span class="glyphicon glyphicon-trash"></span></button>
    }
