@using KickAss2.ViewModels
@model List<OrderHistoryVM>



@foreach (var item in Model)
            {
    <tr>
        <td style="background-color: dimgray">@item.OrderDate.ToString("yyyy-MM-dd hh:mm")</td>
        <td style="background-color: dimgray">@item.OrderId</td>
        <td style="background-color: dimgray">@item.TotalPrice</td>
    </tr>
}
