<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <label>Användarnamn</label>
        </div>
        <div class="col-sm-3">
            <input type="email" class="form-control" placeholder="E-post">
        </div>
    </div>
    <div class="row" style="color:transparent"> .</div>
    <div class="row">
        <div class="col-sm-2">
            <label>Lösenord</label>
        </div>
        <div class="col-sm-3">
            <input type="password" class="form-control" placeholder="Lösenord">
        </div>
    </div>
</div>
<div class="row"><p style="color: transparent">.</p></div>
<div class="row">
    <div class="col-sm-2">
        <input type="submit" value="Logga in" class="btn btn-success" style="background-color: forestgreen" />  
        </div>
    <div class="col-sm-3">
        <label><input type="checkbox"> Kom ihåg mig</label>
    </div>
</div>





