@using KickAss2.ViewModels
@model List<OrderHistoryVM>

<link href="~/css/kickass.css" rel="stylesheet" />

<div id="row1" class="row" style="padding: 5px" ; text-align center>
    <div class="col-sm-12">
        <h1 style="text-align: center; font-weight: bold">Mina sidor</h1>
        <br />
        <p>Här hittar du information om dina tidigare order, hanterar dina uppgifer etc.</p>
        <hr />
    </div>
</div>
<div id="row2" class="row" style="padding: 5px; text-align: center">
    <div class="col-sm-4">
        <h4 style="text-align: left; font-weight: bold">Mina uppgifter</h4>
        <p style="text-align: left"><a href="#addressDetails">Adressuppgifter</a></p>
        <p style="text-align: left"><a href="#paymentDetails">Betalningsalternativ</a></p>
    </div>

    <div id="verticalLines" class="col-sm-4">
        <h4 style="text-align: left; font-weight: bold">Orderhistorik</h4>
        <table style="width: 100%">
            <tr>
                <th style="text-align: left">Orderdatum</th>
                <th style="text-align: left">Order ID</th>
                <th style="text-align: left">Summa</th>
            </tr>
            @Html.Partial("OrderHistory", Model)
        </table>
        @*
            <ul id="leftAlignLi" type="square" style="text-align: left">
                <li style="text-align: left">Order 1</li>
                <li style="text-align: left">Order 2</li>
                <li style="text-align: left">Order 3</li>
                <li style="text-align: left">Order 4</li>
            </ul>
        *@
    </div>

    <div class="col-sm-4">
        <h4 style="text-align: left; font-weight: bold">Mina erbjudanden</h4>
        <p style="text-align: left"><a href="#categoriIdPennor">Pennor</a> - Köp 3 paket betala för 2</p>
    </div>
</div>
