<style>
	#link {
		padding: 15px;
		background-color: forestgreen;
		color: #9D9D9D;
		text-align: center;
		border-color: black;
		border-width: 5px;
	}

	#top-bar {
		min-height: 30px;
		background-color: #222222;
		border-radius: 15px 15px 0px 0px;
	}

	#bot-bar {
		min-height: 15px;
		background-color: #222222;
		border-radius: 0px 0px 15px 15px;
	}
	a:hover {
		color: black;
		background-color: lightgrey;
	}

	#displayArea {
		border-width: 4px;
		border-color: darkgrey;
		padding: 10px;
	}
</style>
<script>
	function forwardTabs()
	{

	}
	function navigateTabs()
	{
		$("#displayArea").load("/Order/testpage1");
	}

</script>

<div class="container">
	<ul class="nav nav-tabs col-lg-12">
		<li class="col-xs-12 col-sm-12 col-md-3"><a href="#" id="1" onclick="navigateTabs()"><b>1. Varukorg</b></a></li>
		<li class="col-xs-12 col-sm-12 col-md-3"><a href="#" id="2" onclick="navigateTabs()"><b>2. Leveransadress</b></a></li>
		<li class="col-xs-12 col-sm-12 col-md-3"><a href="#" id="3" onclick="navigateTabs()"><b>3. Betalning</b></a></li>
		<li class="col-xs-12 col-sm-12 col-md-3"><a href="#" id="4" onclick="navigateTabs()"><b>4. Bekräftelse</b></a></li>
	</ul>
	<div class="col-sm-12" id="top-bar"></div>
	<div class="col-sm-12" id="displayArea"></div>
	<div class="col-sm-12" id="bot-bar"></div>
	<a href="#" class="col-sm-2 col-sm-offset-1" onlick="forwardTabs()"><b>Gå vidare.</b></a><div class="col-sm-10"></div>
</div>