@model ShoppingCartVM
<div> @Html.Partial("LogInNavBar",Model.CurrentUser)</div>
@if (Model.ShoppingList != null)
{
    <link href="~/css/kickass.css" rel="stylesheet" />

    <div id="row1" class="row" style="padding: 5px" ; text-align center>
        <div class="col-sm-12">
            <h1 style="text-align: center; font-weight: bold"><span class="glyphicon glyphicon-shopping-cart"></span> Varukorgen</h1>
            <br />
            <p>Nedan visas alla produkter i din varukorg</p>
            <hr />
        </div>
    </div>


    @foreach (var item in Model.ShoppingList)
    {
        <div id="row2" class="row" style="padding: 5px; text-align: center">
            <h4 style="text-align: left; font-weight: bold">@item.ProductInCart.Name</h4>

            <p style="text-align: left"><b>@item.ProductInCart.Price</b></p>
            <p style="text-align: left"><b>@item.Quantity</b></p>


        </div>
    }



    <hr />

    <div id="row1" class="row" style="padding: 5px" ; text-align center>
        <div class="col-sm-12">
            <h1 style="text-align: center; font-weight: bold"><span class="glyphicon glyphicon-shopping-cart"></span> Totalt: 500 kr</h1>
            <br />
            <hr />
        </div>
    </div>


}
else
{
    <div id="row1" class="row" style="padding: 5px" ; text-align center>
        <div class="col-sm-12">
            <h1 style="text-align: center; font-weight: bold"><span class="glyphicon glyphicon-shopping-cart"></span> Varukorgen</h1>
            <br />
            <p>Nedan visas alla produkter i din varukorg</p>
            <hr />
        </div>
    </div>
    <div>Din VaruKorg är Tom!</div>

}




