@model CreateUserVM

@{

    ViewBag.Title = "Registrera ny användare";
}
<body>
    <h1 style="text-align: center">Fyll i dina uppgifter</h1>
    <div asp-validation-summary="ValidationSummary.All"></div>
    <form asp-controller="Users" asp-action="Create">

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2">
                    <label asp-for="FirstName"></label>
                </div>
                <div class="col-sm-4">
                    <input asp-for="FirstName" placeholder="Förnamn">
                    <span asp-validation-for="FirstName"></span>
                </div>
            </div>
            <div class="row" style="color:transparent"> .</div>
            <div class="row">
                <div class="col-sm-2">
                    <label asp-for="LastName"></label>
                </div>
                <div class="col-sm-4">
                    <input asp-for="LastName" placeholder="Efternamn">
                    <span asp-validation-for="LastName"></span>
                </div>
            </div>
            <div class="row" style="color:transparent"> .</div>
            <div class="row">
                <div class="col-sm-2">
                    <label asp-for="Email"></label>
                </div>
                <div class="col-sm-4">
                    <input asp-for="Email" placeholder="Ex. kalle@gmail.com">
                    <span asp-validation-for="Email"></span>
                </div>
            </div>
            <div class="row" style="color:transparent"> .</div>
            <div class="row">
                <div class="col-sm-2">
                    <label asp-for="PhoneNumber"></label>
                </div>
                <div class="col-sm-4">
                    <input asp-for="PhoneNumber" placeholder="Ex. 0708460256">
                    <span asp-validation-for="PhoneNumber"></span>
                </div>
            </div>
            <div class="row" style="color:transparent"> .</div>
            <div class="row">
                <div class="col-sm-2">
                    <label asp-for="Password"></label>
                </div>
                <div class="col-sm-4">
                    <input asp-for="Password" placeholder="Lösenord">
                    <span asp-validation-for="Password"></span>
                </div>
            </div>
            <div class="row" style="color:transparent"> .</div>
            <div class="row">
                <div class="col-sm-2">
                    <label>Upprepa</label> <label asp-for="Password"></label><label>et </label>
                </div>
                <div class="col-sm-4">
                    <input asp-for="Password" placeholder="Lösenord">
                    <span asp-validation-for="Password"></span>
                </div>
            </div>
            <div class="row" style="color:transparent"> .</div>
            <div class="row">
                <div class="col-sm-2">
                    <input type="submit" value="Registrera" />
                </div>
                <div class="col-sm-4">
                </div>
                <div class="row" style="color:transparent"> .</div>
                <div class="row" style="color:transparent"> .</div>
            </div>
        </div>

    </form>
    <environment names="Development">
        <script src="~/Scripts/jquery.js"></script>
        <script src="~/Scripts/jquery.validate.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    </environment>
    <environment names="Production">
        <script src="~/Scripts/jquery.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    </environment>
</body>
