@model CreateUserVM

@{

    ViewBag.Title = "Registrera ny användare";
}
<body>
    <h1 style="text-align: center">Fyll i dina uppgifter</h1>
    <div asp-validation-summary="ValidationSummary.All"></div>
    <form asp-controller="Users" asp-action="Create">
        <table style="margin-left: 200px">
            <tr>
                <td>
                    <label asp-for="FirstName"></label>
                </td>
                <td>
                    <input asp-for="FirstName">
                    <span asp-validation-for="FirstName"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="LastName"></label>
                </td>
                <td>
                    <input asp-for="LastName">
                    <span asp-validation-for="LastName"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="Email"></label>
                </td>
                <td>
                    <input asp-for="Email">
                    <span asp-validation-for="Email"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="PhoneNumber"></label>
                </td>
                <td>
                    <input asp-for="PhoneNumber">
                    <span asp-validation-for="PhoneNumber"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="Password"></label>
                </td>
                <td>
                    <input asp-for="Password">
                    <span asp-validation-for="Password"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Registrera" />
                </td>
            </tr>
        </table>
    </form>
    <environment names="Development">
        <script src="~/Scripts/jquery.js"></script>
        <script src="~/Scripts/jquery.validate.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    </environment>
    <environment names="Production">
        <script src="~/Scripts/jquery.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    </environment>
</body>
