<link href="~/css/kickass.css" rel="stylesheet" />
<div class="container-fluid">
    <div id="row1" class="row">
        <div class="col-sm-12">
            <h1>Vilka är vi?</h1>
        </div>
    </div>
    <div id="row2" class="row">
        <div class="col-sm-4">
            <p class="greenHeadding">Om oss</p>
            <p class="smallBoldHeadding">Vilka är vi?</p>
            <p class="paragrapgText">Vi på Kick Ass Kontorsprylar AB står för engagemang, kunskap, erfarenhet och certifierad specialistkompetens, vi vill skapa ett mervärde för våra kunder. Det viktigaste för oss är att förstå vad du som kund behöver och med våra IT-lösningar når du dina verksamhetsmål. Vi är 400 medarbetare och finns på 39 orter med en omsättning på 1 miljard. Du kan läsa mer om våra kontor och hitta den partner som ligger närmast dig i menyn under kontor.</p>
            <img src="~/images/kickassteam.jpg" class="img-responsive" />
            <p class="smallBoldHeadding">Våra tjänster</p>
            <p class="paragrapgText">Vi på Kick Ass Kontorsprylar AB hjälper våra kunder att öka sin lönsamhet med hjälp av kostnadseffektiva IT- lösningar. Genom ett strategiskt partnerskap hjälper vi dig att kommunicera effektivt, arbeta mobilt och säkert i en trygg IT-miljö med kostnadseffektiva hyrtjänster i molnet. Vi är din partner oavsett om du vill ha hjälp med separata tjänster eller om du söker en helhetspartner som kan ta hand om alla dina IT-frågor, från strategi till drift. Våra kunders lönsamhet står alltid i fokus. Läs mer om vilka tjänster vi kan erbjuda dig under våra områden.</p>

        </div>
        <div class="col-sm-4">
            <p class="greenHeadding">Jobba hos oss!</p>
            <p class="smallBoldHeadding">Vem kan jobba här?</p>
            <p class="paragrapgText">Du som söker jobb hos oss på Kick Ass Kontorsprylar AB gör det via vårt webbaserade rekryteringsverktyg och här nedan presenteras de lediga jobb som finns att söka just nu. Om vi inte har någon ledig tjänst just nu som passar dig kan du lägga in en prenumeration och få automatiska uppdateringar när vi publicerar lediga tjänster. Se rutan längre ner på denna sida.</p>
            <p class="smallBoldHeadding">Skicka in en ansökan</p>
            <p class="paragrapgText">Frågor om tjänsten besvaras av info@kickasskontorsprylar.nu. Tjänsten ingår i Unionens avtalsområde och fackliga frågor besvaras av Maria Ljunggren, maria.ljunggren@kickasskontorsprylar.nu</p>
            <p></p>
            <p>Välkommen med din ansökan!</p>
        </div>
        <div class="col-sm-4">
            <p class="greenHeadding">Nyheter</p>
            <p class="smallBoldHeadding">8 kontorsprylar du inte visste att du behövde</p>
            <p class="paragrapgText">De flesta av har de nödvändigaste prylarna som krävs för vårt arbete. Det finns dock prylar som gör ditt arbete både mer intressant eller hjälper dig att hålla dig i form under arbetsdagen. Här är några av de bästa kontorsprylarna du (förmodligen) inte kände till.</p>
            <p class="smallBoldHeadding">Kontorsinredning</p>
            <p class="paragrapgText">Här hittar du kreativ och nördig kontorsinredning i världsklass. Denna kategori är bred och inkluderar mängder av produkter som gör stunden i skolan, på jobbet eller vid ditt skrivbord mycket roligare. Här hittar du massvis med pennskrin, bokstöd, klistermärken, ritblock, pennor, stämplar och suddgummin. Själfallet knyter vår kontorsinredning an till kända tv-spel, filmer, tv-serier, datorspel och internetfenomen. Här finns roliga och oväntade prylar för kontoret som är svåra för en film- eller tv-spelsnörd att motstå. Hos oss kan du enkelt utöka och förbättra din arbets- eller studieplats med coola och eftertraktade kontorsprylar!</p>
        </div>
    </div>
</div>
