@using KickAss2.ViewModels
@model List<ListProductVM>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2"><label>Produktnam</label></div>
        <div class="col-sm-2"><label>Beskrivning</label></div>
        <div class="col-sm-2"><label>Pris</label></div>
    </div>
    @foreach (var item in Model)
            {
        <div class="row">
            <div class="col-sm-2">@item.Name</div>
            <div class="col-sm-2">@item.Description</div>
            <div class="col-sm-2">@item.Price</div>
    <div class="col-sm-2">@item.Price</div>
        </div>    }
</div>




